<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new chat</title>
</head>
<body>
    <form method="post" action="/chats">
     <input placeholder="who are you", name="from" type="text">
     <br> <br> <br>
     <textarea name="msg" id=""></textarea>
     <br> <br> <br>
     <input placeholder="writing to whom", name="to" type="text">
     <br> <br> <br>
     <button>create</button>
    </form>
</body>
</html>